<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<html class="no-js"> <!--<![endif]-->
    <head>

        <title>LEXFutures {% if pagetitle is defined%} - {{pagetitle}}{% endif %}</title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% block stylesheets %}
        <!-- stylesheets -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/animate.css">
        <link rel="stylesheet" href="/assets/css/owl.carousel.css">
        <link rel="stylesheet" href="/assets/css/owl.theme.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/css/lexfutures.css">
        {% endblock stylesheets %}
        
        <!-- scripts -->
        <script type="text/javascript" src="/assets/js/modernizr.custom.97074.js"></script>
        
        <link rel="shortcut icon" href="/favicon.ico?ver=1" type="image/x-icon">
        <link rel="icon" href="/favicon.ico?ver=1" type="image/x-icon">
        
    </head>

    <body>

        <div id="home-page">

            <!-- site-navigation start -->  
            <nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">
                <div class="container">
                    
                    <div class="navbar-header">
                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <!-- navbar logo -->
                        <div class="navbar-brand">
                            <span class="sr-only">LexFutures</span>
                            <a href="{{path('homepage')}}">
                                {#<img src="/images/lexfutures.png" class="img-responsive center-block" alt="logo">#}
                                <img src="/images/header-logo.png" class="img-responsive center-block" alt="LexFutures Logo">
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                    <div class="collapse navbar-collapse" id="main-nav-collapse">
                        <ul class="nav navbar-nav navbar-right text-uppercase">
                            <li>
                                <a href="{{path('homepage')}}"><span>home</span></a>
                            </li>
                            {% if app.user %}
                            {#
                            <li>
                                <a href="{{path('lexfutures_dashboard')}}"><span>dashboard</span></a>
                            </li>
                            #}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Prediction League</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{path('lexfutures_dashboard')}}">League Home</a></li>
                                    <li><a href="{{path('lexfutures_cases', {'slug': 'namibia'})}}">Namibia</a></li>
                                    <li><a href="{{path('lexfutures_cases', {'slug': 'zambia'})}}">Zambia</a></li>
                                    <li><a href="{{path('lexfutures_cases', {'slug': 'south-africa'})}}">South Africa</a></li>
                                    <li><a href="{{path('lexfutures_cases', {'slug': 'tanzania'})}}">Tanzania</a></li>
                                    
                                </ul>    
                            </li>
                            {% else %}
                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Prediction League</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{path('lexfutures_dashboard')}}">League Home</a></li>
                                    <li><a href="{{path('lexfutures_cases', {'slug': 'namibia'})}}">Namibia</a></li>
                                    <li><a href="{{path('lexfutures_cases', {'slug': 'zambia'})}}">Zambia</a></li>
                                    <li><a href="{{path('lexfutures_cases', {'slug': 'south-africa'})}}">South Africa</a></li>
                                    <li><a href="{{path('lexfutures_cases', {'slug': 'tanzania'})}}">Tanzania</a></li>
                                    <li><a href="{{path('fos_user_security_login')}}">Login</a></li>
                                    <li><a href="{{path('fantasy_league')}}">Register</a></li>
                                </ul>    
                            </li>
                            {% endif %}
                            <li>
                                <a href="{{path('contact')}}"><span>contact</span></a>
                            </li>
                            {% if app.user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>{{app.user.printname(16)}}&nbsp; &nbsp;<i class="fa fa-cog" aria-hidden="true"></i></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{path('fos_user_security_logout')}}"><span>logout</span></a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            {#
                            <li>
                                
                                <a href="{{path('fos_user_security_login')}}"><span>login</span></a>
                                
                            </li>
                            #}
                            {% endif %}
                            <li>
                                
                                <a href="https://twitter.com/LexFutures" target="_blank"><span><i class="fa fa-twitter" aria-hidden="true" style="color: #1da1f2;"></i></span></a>
                                
                            </li>
                            <li>
                                
                                <a href="https://www.facebook.com/LEXFutures/" target="_blank"><span><i class="fa fa-facebook-official" aria-hidden="true" style="color: #3c5a99;"></i></span></a>
                                
                            </li>
                            
                        </ul>
                    </div><!-- nav links -->
                    
                </div><!-- /.container -->
            </nav>
            <!-- site-navigation end -->
            <div class="main-content-zone">
            {% block maincontent %}
            
            {% endblock maincontent %}
            </div>
            {% block footer %}
            {#
            <footer>
                <div class="container">
                    <div class="row">

                        <!-- useful links -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Useful Links</h4>
                            <ul class="row footer-links">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Mobile</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Services</a></li>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="#">Organization</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Media</a></li>
                                    <li><a href="#">24/7</a></li>
                                    <li><a href="#">Right Way</a></li>
                                </div>
                            </ul>
                        </div>

                        <!-- recent news -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Recent News</h4>

                            <div class="row footer-news">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <img src="/assets/img/intro.jpg" class="img-responsive center-block" alt="recent news 1">
                                </div>
                                <div class="col-md-8 col-sm-4 col-xs-6">
                                    <div class="row">
                                        <p class="text-capitalize">
                                            <a href="#">
                                                a clear website gives more experience to the visitors
                                            </a>
                                        </p>
                                        <p class="news-date">Dec 12,2015</p>
                                    </div>
                                </div>
                            </div> <!-- /.footer-news -->

                            <div class="row footer-news">
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <img src="/assets/img/intro.jpg" class="img-responsive center-block" alt="recent news 2">
                                </div>
                                <div class="col-md-8 col-sm-4 col-xs-6">
                                    <div class="row">
                                        <p class="text-capitalize">
                                            <a href="#">
                                                a clear website gives more experience to the visitors
                                            </a>
                                        </p>
                                        <p class="news-date">Dec 12,2015</p>
                                    </div>
                                </div>
                            </div> <!-- /.footer-news -->
                        </div> <!-- /.footer-widget -->

                        <!-- news-letter -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>E-News-Letter</h4>

                            <p>Sign up for our mailing list to get latest updates and offers</p>
                            <div class="input-group margin-bottom-sm">
                                <input class="form-control" type="text" placeholder="Email address">
                                <span class="input-group-addon">
                                    <i class="fa fa-paper-plane fa-fw"></i>
                                </span>
                            </div>
                            <p>We respect your privacy</p>
                        </div> <!-- /.footer-widget -->

                        <!-- about avada agency -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Avada Agency</h4>

                            <p>
                                HUGE Website Builder is a big library of pre-designed web elements which help you to create website in few minutes.
                            </p>

                            <div class="footer-address">
                                <p>
                                    1-800-123-HELLO  <br>
                                    example@mail.com
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="footer-share-button">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul> <!-- /.footer-share-button -->
                                </div>
                            </div>
                        </div> <!-- /.footer-widget -->

                    </div>
                </div>
            </footer>
            #}
            {% endblock footer %}
            {% block footernavigation %}
            <!-- footer-navigation start -->  
            {#
            <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                <div class="container">
                    
                    <div class="navbar-header">
                        
                        <!-- navbar logo -->
                        <div class="navbar-brand">
                            <span class="sr-only">&copy;THEMEWAGON</span>
                            <a href="index.html">
                                &copy;THEMEWAGON
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                    <div class="collapse navbar-collapse" id="main-nav-collapse">
                        <ul class="nav navbar-nav navbar-right text-capitalize">
                            <li><a href="#about">
                                <span>home</span>
                            </a></li>

                            <li><a href="#services">
                                <span>pages</span>
                            </a></li>

                            <li><a href="#portfolio">
                                <span>features</span>
                            </a></li>

                            <li><a href="#team">
                                <span>portfolio</span>
                            </a></li>

                            <li><a href="#pricing">
                                <span>blog</span>
                            </a></li>

                            <li><a href="#blog">
                                <span>shop</span>
                            </a></li>

                            <li><a href="#contact">
                                <span>contact</span>
                            </a></li>
                        </ul>
                    </div><!-- nav links -->
                    
                </div><!-- /.container -->
            </nav>
            <!-- footer-navigation end -->
            #}
        </div> <!-- end of /#home-page -->
        {% endblock footernavigation %}
        <!--  Necessary scripts  -->

        <script type="text/javascript" src="/assets/js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.hoverdir.js"></script>


        <!-- script for portfolio section using hoverdirection -->
        <script type="text/javascript">
            $(function() {

                $('.portfolio-item > .item-image').each( function() { $(this).hoverdir({
                    hoverDelay : 75
                }); } );

            });
        </script>


        <!-- script for twitter-feed using owl carousel-->
        <script type="text/javascript">
            $(document).ready(function() {
 
                $("#twit").owlCarousel({
                 
                    navigation : true, // Show next and prev buttons
                    slideSpeed : 100,
                    paginationSpeed : 400,
                    navigationText : false,
                    singleItem: true,
                    autoPlay: true,
                    pagination: false
                });
 
            });
        </script>


        <!-- script for testimonial section using owl carousel -->
        <script type="text/javascript">
            $(document).ready(function() {
 
                $("#client-speech").owlCarousel({
                 
                    autoPlay: 5000, //Set AutoPlay to 3 seconds
                    stopOnHover: true,
                    singleItem:true
                });
 
            });
        </script>
        
        <footer class="lex-footer">
            
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <img src="/images/footer-logo.png" class="footer-logo img-responsive" alt="LexFuture Logo" style="padding: 0px 0px 10px 0px;">
                        <p>
                            &copy; {{ "now"|date("Y") }} LexFutures Ltd. All Rights Reserved.
                            <br />
                            <a href="{{path('terms')}}" class="legal-link">Terms of Use</a>
                            <a href="{{path('privacy-policy')}}" class="legal-link">Privacy Policy</a>
                            <a href="{{path('competition-rules')}}" class="legal-link">Competition Rules</a>
                        </p>

                    </div>                         
                    <div class="col-xs-12 col-sm-6">
                        {# @todo only show when on south africa league pages #}
                        {% if jurisdiction is defined and jurisdiction is not null and jurisdiction.slug == "south-africa" %}
                        <div class="footer-spons">
                            <div class="footer-spons-content">
                                The LexFutures Court Prediction League is presented in <br/>partnership with UCT Law @ Work{# &amp; Juta Law.#}
                            </div>
                            <div class="footer-spons-logos">
                                <img src="/images/uctlogo_1.png" class="img-responsive" alt="UCT Logo" />
                                {#<img src="/images/juta.png" class="img-responsive" alt="Juta Logo" />#}
                            </div>
                        </div>    
                        {% endif %}
                        {% if jurisdiction is defined and jurisdiction is not null and jurisdiction.slug == "namibia" %}
                        <div class="footer-spons">
                            <div class="footer-spons-content">
                                The LexFutures Court Prediction League is presented in <br/>partnership with UCT Law @ Work{# &amp; Juta Law.#}
                            </div>
                            <div class="footer-spons-logos">
                                <img src="/images/University of Namibia Logo.png" class="img-responsive" alt="University of Namibia Logo" />
                                {#<img src="/images/juta.png" class="img-responsive" alt="Juta Logo" />#}
                            </div>
                        </div>    
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118579956-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118579956-1');
</script>
    </body>
</html>